Importing SQLite3 Library and creating a database

In [12]:
import sqlite3

con = sqlite3.connect("fedra_feed.db")
cur = con.cursor()

Creating the USER, USER_NEWS_INFO AND NEWS_CLASSIFICATION tables

In [16]:
cur.execute("""CREATE TABLE USER(
            user_id INTEGER PRIMARY KEY,
            NAME VARCHAR,
            EMAIL VARCHAR NOT NULL,
            PASSWORD VARCHAR NOT NULL)""")


cur.execute("""CREATE TABLE USER_NEWS_INFO(
            user_id INTEGER,
            class_id INTEGER,
            FOREIGN KEY (user_id) REFERENCES USER(user_id)
            FORIEGN KEY (class_id) REFERENCES NEWS_CLASSIFICATION(class_id))""")




cur.execute("""CREATE TABLE NEWS_CLASSIFICATION(
            class_id INTEGER PRIMARY KEY,
            news_category VARCHAR)""")
# category: sports, politics, entertainment etc

cur.execute("""CREATE TABLE ARTICLES(
            news_id INTEGER
            news_heading VARCHAR,
            image_src VARCHAR,
            news_article_link VARCHAR,
            FORIEGN KEY (news_id) REFERENCES NEWS_CLASSIFICATION(class_id))""")

OperationalError: table USER already exists

Inserting sample data into the tables

In [14]:
user_data = [
    (1,"Tanmay","tanmaywani145@gmail.com","tanmay123"),
    (2,"Bhavya","bhavya.sce21@sot.pdpu.ac.in","bhavya123"),
]
cur.executemany("INSERT INTO USER VALUES(?,?,?,?)",user_data)

Reading data from the table

In [15]:
res = cur.execute("Select * from user")
print(res.fetchall())

[(1, 'Tanmay', 'tanmaywani145@gmail.com', 'tanmay123'), (2, 'Bhavya', 'bhavya.sce21@sot.pdpu.ac.in', 'bhavya123')]